#summary {
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 89% 10%;
    width: 100%;
    margin-bottom: 5px;
}

.short-input {
    width: auto;
}

.input-button {
    height: 100%;
    width: auto;
}

.button-section>button {
    margin: 0 0 7px auto;
}

.button-section {
    display: flex;
    flex-direction: column;
}